#li{
    width: 1000px;
    margin: auto;
}

body{
    width: 1000px;
    margin: auto;
}

img {
    max-width: 20%;
}

#nav1 ul {
    display: flex;
    margin-left: -450px;
}   

#nav1 a {
    text-decoration: none;
    color: white; 
    border: 1px solid white;
    display: block;
    background-color: rgb(29, 29, 29);
    padding: 10px;
    margin-right: 1%;
    margin-top: 20px;
}

#nav1 a:hover {
    background-color: white;
    color: #040405;
    border: 1px solid black;
}
